 h1 {
   font-size: 46.08px;
   font-weight: 700;
   color: black;
   font-family: Inter;

 }

 body {
   margin: 0;
 }

 .multiText {
   color: rgb(0, 154, 151);
 }

 .multiText.art {
   color: rgb(235, 38, 46);
 }

 .multiText.creator {
   color: #febe12;
 }

 .container.green {
   background-color: #a7eae6;

 }

 .container.red {

   background-color: #eb262e4a;
 }

 .container.yellow {

   background-color: #fcf0d6;
 }



 .container.gree .multiText {

   color: #009A97;

 }

 .container.red .multiText {
   color: #EB262E;

 }

 .container.yellow .multiText {

   color: #febe12;
 }

 .image {
   width: 320px;
   border-radius: 100%;

 }

 .image1 {
   width: 45px;
   border-radius: 100%;
   margin-right: 5px;

 }


 .image2 {
   width: 45px;
   border-radius: 100%;
   margin-right: 5px;

 }


 .image3 {
   width: 45px;
   border-radius: 100%;
   margin-right: 5px;

 }


 .image4 {
   width: 45px;
   border-radius: 100%;
   margin-right: 5px;

 }

 .image5 {
   width: 45px;
   border-radius: 100%;
   margin-right: 5px;
 }

 .image6 {
   width: 45px;
   border-radius: 100%;

 }

 .container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   gap: 25px;
 }



 .container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   gap: 25px;
 }

 .text-container {
   width: auto;


 }

 .container {
   /* Other styles */
   transition: background-color 0.5s ease-in-out;
 }

 .container-images img {
   transition: transform .2s;
   /* Animation */
 }

 .container-images img:hover {
   transform: scale(1.2);
   /* (120% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 }

 #hover-pic {
   opacity: 0;
   transition: opacity .7s;


 }

 .opacity {
   position: relative;
 }

 .image {
   width: 320px;
   border-radius: 100%;

 }

 #hover-pic {
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   transition: opacity 0.7s;
 }

 .image-container:hover #hover-pic {
   opacity: 1;
 }

 a {
   text-decoration: none;
 }



 /* Style for desktops and laptops */
 .container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   gap: 25px;
 }



 /* Style for smaller phones */
 @media screen and (max-width: 992px) {
   .container {
     flex-direction: column;
     gap: 15px;
   }

   .image {
     width: 280px;
   }

   .image1 .image2,
   .image3,
   .image4,
   .image5,
   .image6 {
     width: 38px;

   }

   h1 {
     font-size: 28px;
     margin-left: auto;
     text-align: center;
   }

   .container-images {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 6px;
    width: auto;
     margin-left: 122px;
   }

   .image1,
   .image2,
   .image3,
   .image4,
   .image5,
   .image6 {
     width: 40%;

   }

   .icons-vertical {
     margin-right: 0;
     gap: 6px;

   }

   .image2.icon {
     margin-left: 5px;
     margin-top: 6px;
   }

   .image4.icon {
     margin-left: 5px;
     margin-top: 6px;
   }

   .image6.icon {
     margin-left: 5px;
     margin-top: 6px;
   }

   .image1.icon {

     margin-top: 6px;
   }

   .image3.icon {

     margin-top: 6px;
   }

   .image5.icon {

     margin-top: 6px;
   }
 }
 .icons-vertical {
  width: 125%;
 

 }